/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url("../Image/countdown2.jpg");
	-fx-background-size: 600px 400px;
}

.button{
	-fx-background-color:#07B3D5;
	-fx-text-fill:'white';
	-fx-background-radius: 40px;
	-fx-cursor: hand;
	-fx-opacity: 0.8;
	-fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

.button: hover{
	-fx-background-color: #036DBB;
	-fx-opacity: 1;
}

#menuBtn{
	-fx-font-size: 20px;
}

#startBtn{
	-fx-font-size: 24px;
}

#pauseBtn{
	-fx-font-size: 21px;
}

#timerBar{
	-fx-fill: #036DBB;
}

#text2, #text3, #text4, #text5{
	-fx-font-weight: bold;
	-fx-font-size: 22px;
	-fx-font-family: "Comic Sans MS";
}