.root{
	-fx-background-image: url("../Image/endless2.jpg");
	-fx-background-size: 620px 600px;
	
}

.circle{
	//-fx-fill:#3830c9;
	//-fx-stroke:#0000;	
}

.button{
	-fx-background-color:#EB79DE;
	-fx-text-fill:'white';
	-fx-background-radius: 40px;
	-fx-cursor: hand;
	-fx-opacity: 0.8;
	-fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

.button: hover{
	-fx-background-color: #ED4ADB;
	-fx-opacity: 1;
}

#menuBtn{
	-fx-font-size: 20px;
}

#startBtn{
	-fx-font-size: 24px;
}

#pauseBtn{
	-fx-font-size: 21px;
}

#text2, #text3, #text4, #text5, #text6{
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-font-family: "Comic Sans MS";
}






