/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url("../Image/endless.jpg");
	-fx-background-size: 600px 400px;
	
}

.circle{
	-fx-fill:'black';
	-fx-stroke:#0000;	
}

.button{
	-fx-background-color:#2DB590;
	-fx-text-fill:'white';
	-fx-background-radius: 40px;
	-fx-cursor: hand;
	-fx-opacity: 0.7;
	-fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

.button: hover{
	-fx-background-color: #057E5D;
	-fx-opacity: 1;
}

#menuBtn{
	-fx-font-size: 20px;
}

#startBtn{
	-fx-font-size: 24px;
}




