.root{
	-fx-background-image: url("../Image/simple.jpg");
	-fx-background-size: 600px 400px;
	
}

#text1{
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

#text2{
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

#text3{
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

#text4{
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

#menuBtn{
	-fx-font-size: 20px;
}

#startBtn{
	-fx-font-size: 24px;
}

.button{
	-fx-background-color:#2DB590;
	-fx-text-fill:'white';
	-fx-background-radius: 40px;
	-fx-cursor: hand;
	-fx-opacity: 0.8;
	-fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
}

.button: hover{
	-fx-background-color: #057E5D;
	-fx-opacity: 1;
}

#pauseBtn{
	-fx-background-radius: 60px;
	-fx-font-size: 21px;
	-fx-font-weight: bold;
}